*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
input[type="email"] {
    -webkit-appearance: none;
    border-radius: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.input-error {
    color: $color-danger;
    display: block;
    font-size: 11px;
    margin-top: 5px;
}

.fade-enter-active {
    @include transition(1s);
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}
